spring:
  application:
    name: Products API

  datasource:
    url: jdbc:postgresql://localhost:5432/productsDB
    username: admin
    password: admin

  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}
      timeout: 2000ms
